<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Store</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" routerLink="/cart"><ion-icon name="cart-outline" slot="start"></ion-icon>Cart</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <h3>Phones</h3>
        <ion-list class="ion-no-padding">
          <ion-item *ngFor="let phone of phones" [title]="phone.model + ' details'" [routerLink]="phone.id">
            <ion-label>
              <h3><b>{{ phone.manufacturer }} {{ phone.model }}</b></h3>
              <p>{{ phone.description }}</p>
            </ion-label>
            <ion-thumbnail slot="end">
              <img [src]="phone.imgURL"/>
            </ion-thumbnail>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
